:host(app-fill-type-picker) {}

.app-fill-type-picker__option {
  width: 35px;
  height: 18px;
  margin: 2px 0px;
  background-repeat: no-repeat;
  background-position: center;
}

.app-fill-type-picker__option--selected {
  background-color: var(--dark-blue);
}

.app-fill-type-picker__option--EMPTYIcon {
  background-image: url('../../../../assets/icons/fill_empty.png');
}

.app-fill-type-picker__option--EMPTYIcon.app-fill-type-picker__option--selected {
  background-image: url('../../../../assets/icons/fill_empty_selected.png');
}

.app-fill-type-picker__option--FILL_SECONDARYIcon {
  background-image: url('../../../../assets/icons/fill_secondary.png');
}

.app-fill-type-picker__option--FILL_SECONDARYIcon.app-fill-type-picker__option--selected {
  background-image: url('../../../../assets/icons/fill_secondary_selected.png');
}

.app-fill-type-picker__option--FILL_PRIMARYIcon {
  background-image: url('../../../../assets/icons/fill_primary.png');
}
