.app-stretch-skew-window__input-with-icon {
  margin-top: 7px;
}

.app-stretch-skew-window__number_input::ng-deep .app-text-input {
  width: 58px;
}

.app-stretch-skew-window__number_input::ng-deep .app-input-label {
  margin-right: 11px;
}

.app-stretch-skew-window__number_input {
  margin-top: 7px;
  margin-left: 7px;
}

.app-stretch-skew-window__container {
  padding: 12px;
}

.app-stretch-skew-window__fieldset {
  padding-right: 35px;
  padding-bottom: 7px;
  margin: 0px;
}

.app-stretch-skew-window__angle-buttons {
  margin-left: 53px;
}

.app-stretch-skew-window__big-icon {
  width: 32px;
  height: 32px;
  margin-right: 18px;
  margin-left: 8px;
}

.app-stretch-skew-window__big-icon--stretch-horizontal {
  background: url("../../../../assets/icons/stretchHorizontal.png") no-repeat center;
}

.app-stretch-skew-window__big-icon--stretch-vertical {
  background: url("../../../../assets/icons/stretchVertical.png") no-repeat center;
}
