<app-modal-window
  [title]="'Stretch and Skew'"
  [closable]="true"
  (closeClicked)="cancel.emit()"
  (keyup.enter)="okClicked()"
  (keyup.escape)="cancel.emit()"
>
  <div class="app-horizontal-bar app-stretch-skew-window__container">
    <div class="app-vertical-bar">
      <div class="app-vertical-bar">
        <fieldset class="app-stretch-skew-window__fieldset">
          <legend>Stretch</legend>
          <div
            class="app-horizontal-bar app-stretch-skew-window__input-with-icon"
          >
            <div
              class="app-stretch-skew-window__big-icon app-stretch-skew-window__big-icon--stretch-horizontal"
            ></div>
            <app-integer-input
              #stretchHorizontalInput
              class="app-stretch-skew-window__number_input app-can-grow"
              [label]="'Horizontal:'"
              [unit]="'%'"
              [maxValue]="1600"
              [(value)]="stretchHorizontal"
            >
            </app-integer-input>
          </div>
          <div
            class="app-horizontal-bar app-stretch-skew-window__input-with-icon"
          >
            <div
              class="app-stretch-skew-window__big-icon app-stretch-skew-window__big-icon--stretch-vertical"
            ></div>
            <app-integer-input
              class="app-stretch-skew-window__number_input app-can-grow"
              [label]="'Vertical:'"
              [unit]="'%'"
              [maxValue]="1600"
              [(value)]="stretchVertical"
            >
            </app-integer-input>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="app-vertical-bar">
      <button class="app-button app-text-button" (click)="okClicked()">
        OK
      </button>
      <button class="app-button app-text-button" (click)="cancel.emit()">
        Cancel
      </button>
    </div>
  </div>
</app-modal-window>
