.background-color {
  background-color: var(--background) !important;
}


.grid {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin: 2rem;
  padding: 10px;
  border: solid 1px black !important;
  box-shadow: 0.5px 0.5px black;
  background-color: var(--primary) !important;
}


.w-8 {
  width: 8% !important;
}

.h-8 {
  height: 20% !important;
  margin-top: 5rem;
  gap: 5px;
}

.save {
  padding: 5px !important;
}

.clear {
  padding: 5px !important;
}




.btn{
  padding: 1rem;
}