:host(app-zoomable-canvas) {
  position: absolute;
}

.app-zoomable-canvas__canvas {
  image-rendering: pixelated;
  position: absolute;
}

.app-zoomable-canvas__canvas--invert_background {
  mix-blend-mode: difference;
}
