<div class="app-palette__color-selector">
  <div class="app-depressed-item-container">
    <div class="app-depressed-item app-palette__selected-colors-parent">
      <div class="app-raised-item app-palette__color-sample-container" style="bottom: 3px; right: 3px;">
        <div class="app-palette__selected-color-container app-palette__color-sample"
          [style.background-color]="getRgb(selectedSecondaryColor)"></div>
      </div>
      <div class="app-raised-item app-palette__color-sample-container" style="top: 3px; left: 2px;">
        <div class="app-palette__selected-color-container app-palette__color-sample"
          [style.background-color]="getRgb(selectedPrimaryColor)"></div>
      </div>
    </div>
  </div>
  <div *ngFor="let color of availableColors" class="app-depressed-item-container">
    <div class="app-depressed-item app-palette__color-button" [style.background-color]="getRgb(color)"
      (click)="selectColor($event, color)" (contextmenu)="selectColor($event, color)"></div>
  </div>
</div>
