/* You can add global styles to this file, and also import other style files */

:root {
  --background: #fffbfe81;
  --primary: #6750a4;
  --secondry: #625b71;
  --tertiary: #7d5260;
  --error: #b3261e;
  --outline: #79747e;
  --on-background: #1c1b1f;
  --on-error: #ffffff;
  --on-tertiary: #ffffff;
  --on-secondary: #ffffff;
  --on-primary: #ffffff;
  --primary-container: #eaddff;
  --secondary-container: #e8def8;
  --tertiary-container: #ffd8e4;
  --error-container: #f9dedc;
  --surface: #fffbfe;
  --surface-varient: #e7e0ec;
  --lightest-grey: #e1e3e5;
  --lighter-grey: #c3c7cb;
  --grey: #868a8e;
  --dark-blue: #0000aa;
}



body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 8px;
  margin: 0px;
  color: black;
}

button {
  font: inherit;
}

.primary-bg {
  background-color: var(--primary) !important;
}

input {
  font: inherit;
}

.tsp-can-grow {
  flex-grow: 1;
}

.tsp-horizontal-bar {
  display: flex;
  width: 100%;
}

.tsp-vertical-bar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tsp-raised-item-container {
  border: 1px solid;
  border-color: var(--lighter-grey) black black var(--lighter-grey);
}

.tsp-raised-item {
  border: 1px solid var(--outline);
  background: var(--primary-container);
  border-color: white var(--grey) var(--grey) white;

}

.tsp-depressed-item-container {
  border: 1px solid;
  border-color: var(--grey) white white var(--grey);
}

.tsp-depressed-item {
  border: 1px solid;
  border-color: black var(--lighter-grey) var(--lighter-grey) black;
}

hr {
  border: 1px solid;
  border-color: var(--grey) white white var(--grey);
}

fieldset {
  border: 1px solid var(--grey);
  padding: 3px;
  position: relative;
}

fieldset legend {
  position: relative;
  background-color: var(--lighter-grey);
}

fieldset::before {
  content: ' ';
  position: absolute;
  top: 6px;
  left: 0px;
  right: -2px;
  bottom: -2px;
  border: 1px solid white;
  z-index: -1;
}

.tsp-button {
  position: relative;
  background-color: var(--lighter-grey);
  margin: 0px 1px 1px 0px;
  outline: none;
}

div.tsp-button {
  margin: 0px 1px -1px 0px;
  box-sizing: border-box;
}

.tsp-button::before {
  content: ' ';
  position: absolute;
  top: 0px;
  left: 0px;
  right: -2px;
  bottom: -2px;
  border: solid black;
  border-width: 0px 1px 1px 0px;
}

.tsp-button:active {
  background-position: calc(50% + 1px) calc(50% + 1px) !important;
  border-color: var(--grey) var(--lighter-grey) var(--lighter-grey) var(--grey);
}

.tsp-button:active::before {
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-width: 1px;
  border-color: black white white black;
}

.tsp-text-button {
  padding: 2px 0px 3px 0px;
  margin-left: 12px;
  margin-bottom: 6px;
  min-width: 72px;
}

.tsp-input-label {
  margin: 4px 4px 0 12px;
}

.tsp-input-label--after-field {
  margin-left: 6px;
}

.tsp-text-input {
  padding-bottom: 5px;
  padding-left: 2px;
  outline: none;
}

.tsp-radio-button {
  position: relative;
  margin-right: 18px;
  width: 0px;
  height: 0px;
}

.tsp-radio-button::before {
  content: ' ';
  width: 12px;
  height: 12px;
  position: absolute;
  top: -2px;
}


[disabled] {
  color: var(--grey);
}